apiVersion: v1
kind: Service
metadata:
  name: api
  labels:
    app: api
spec:
  selector:
    app: api
    deploymentconfig: api
  ports:
    - name: http
      port: 4000
      targetPort: 4000
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: dashboard
  labels:
    app: dashboard
spec:
  selector:
    app: dashboard
    deploymentconfig: dashboard
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP

